<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>키움 | 마이페이지 - 회원정보 수정</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap/min.css">
    <script src="https://max.cdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js?autoload=false"></script>


    {% load static %}
    <link rel="stylesheet" href="{% static 'style/mypage/profile_style.css' %}" type="text/css"/>

</head>

<script>
    //load함수를 이용하여 core스크립트의 로딩이 완료된 후, 우편번호 서비스를 실행합니다.
  function sample6_execDaumPostcode() {
    daum.postcode.load(function(){
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.
                // 예제를 참고하여 다양한 활용법을 확인해 보세요.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("address2").value = extraAddr;

                } else {
                    document.getElementById("address2").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('postcode').value = data.zonecode;
                document.getElementById("address1").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("address2").focus();
            }
        }).open();
    });
  }

</script>

<body>
<!-- 헤더 -->
{% block head %}
    {% include "header.html" %}
{% endblock%}
<!---->


{% block content %}

    <div class="conA">

        <!--    제대로 비밀번호 체크했을 경우(정상적인 루트), 보임    -->
        {% if chk_ok %}

        <form class="modifyForm2" method="POST" action="{% url 'modify_profile' %}">
            {% csrf_token %}

            <h2 class="pro_user_info_h2">회원정보 수정</h2>

            <div class="pro_user_info_box">

                <div class="cfm_user_info_box_label">회원 정보</div>

                <table class="cfm_user_info_box">

                    <!-- 회원 이름 -->
                    <tr>
                        <td class="tbl_l">이름:</td>
                        <td class="tbl_r">{{ account.2 }}</td>
                    </tr>

                    <!-- 회원 id  -->
                    <tr>
                        <td class="tbl_l">아이디:</td>
                        <td class="tbl_r">{{ account.0 }}</td>
                    </tr>

                </table>


                <table class="mdf_user_info_box">
                    <tr>
                        <td class="tbl_l">전화번호:</td>
                        <td class="tbl_r">
                            <select id="phone_list" title="전화번호" name="phone1" class="phone_list">
                                <option value="010" {{ phone1_chk.0 }}>010</option>
                                <option value="02" {{ phone1_chk.1 }}>02</option>
                                <option value="031" {{ phone1_chk.2 }}>031</option>
                                <option value="033" {{ phone1_chk.3 }}>033</option>
                                <option value="041" {{ phone1_chk.4 }}>041</option>
                                <option value="042" {{ phone1_chk.5 }}>042</option>
                                <option value="043" {{ phone1_chk.6 }}>043</option>
                                <option value="044" {{ phone1_chk.7 }}>044</option>
                                <option value="051" {{ phone1_chk.8 }}>051</option>
                                <option value="053" {{ phone1_chk.9 }}>053</option>
                                <option value="054" {{ phone1_chk.10 }}>054</option>
                                <option value="055" {{ phone1_chk.11 }}>055</option>
                                <option value="062" {{ phone1_chk.12 }}>062</option>
                                <option value="063" {{ phone1_chk.13 }}>063</option>
                                <option value="064" {{ phone1_chk.14 }}>064</option>
                                <option value="070" {{ phone1_chk.15 }}>070</option>
                            </select>
                            -
                            <input name="phone2" type="tel" class="userPhone" id="userTel1" placeholder="" value="{{ account.9 }}" maxlength="4" autocomplete="no">
                            -
                            <input name="phone3" type="tel" class="userPhone" id="userTel2" placeholder="" value="{{ account.10 }}" maxlength="4" autocomplete="no">
                        </td>
                    </tr>

                    <tr>
                        <td class="tbl_l">이메일:</td>
                        <td class="tbl_r">
                            <input name="email" type="email" class="userLogin" placeholder="이메일 주소" value="{{ account.4 }}" autocomplete="no">
                        </td>
                    </tr>

                    <tr>
                        <td class="tbl_l" colspan="2"></td>
                    </tr>


                    <tr>
                        <td class="tbl_l">우편번호:</td>
                        <td class="tbl_r">
                            <input class="postcode" id="postcode" name="postcode" type="text" class="userLogin" placeholder="우편번호" value="{{ account.5 }}" readonly>
                            <button type="button" id="search_postcode_btn" class="search_postcode_btn" onclick="sample6_execDaumPostcode()">우편번호 검색</button>
                        </td>
                    </tr>

                    <tr>
                        <td class="tbl_l">주소:</td>
                        <td class="tbl_r">
                            <input class="address" id="address1" name="address1" type="text" class="userLogin" placeholder="도로명 주소" value="{{ account.6 }}" autocomplete="no" readonly>
                        </td>
                    </tr>

                    <tr>
                        <td class="tbl_l">상세주소:</td>
                        <td class="tbl_r">
                            <input class="address" id="address2" name="address2" type="text" class="userLogin" placeholder="상세 주소" value="{{ account.7 }}" autocomplete="no">
                        </td>
                    </tr>
                </table>
            </div>

            <div class="mfy_pro_btn">
                <input id="modifyPrFButton1" class="modifyPrFButton" name="modifyPrFButton" type="submit" value="취소">
                <input id="modifyPrFButton2" class="modifyPrFButton" name="modifyPrFButton" type="submit" value="완료">
            </div>

        </form>
        <!-- -->


        <!--    정상적인 루트로 접속하지 않았을 경우    -->
        {% else %}

            <h2>정상적인 접근이 아닙니다.</h2>

            <p>[ 마이페이지 > 회원정보 수정 ] 경로를 통해 비밀번호 인증 후 접근 가능합니다.</p>

        {% endif %}
        <!-- -->

    </div>

{% endblock%}


<!-- 풋터 -->
{% block foot %}
    {% include "footer.html" %}
{% endblock%}
<!---->

</body>
</html>