<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>키움 | DB - 회원 테이블</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap/min.css">
    <script src="https://max.cdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'style/account/userList_style.css' %}" type="text/css"/>

</head>
<body>
<!-- 헤더 -->
{% block head %}
    {% include "header.html" %}
{% endblock%}
<!-- -->


{% block content %}
    <div class="conA">

        <form class="modifyForm" method="POST" action="{% url 'user_list_detail' mb_id=user_list_detail.0 %}">
            {% csrf_token %}

            <section class="Asection">
                <div class="box1">
                    <p class="sp1">DB관리</p>
                    <p class="sp2">회원</p>
                </div>

                <div class="box2">
                    <div class="box2_content_title">
                        <span>ID</span>
                        <span>{{ user_list_detail.0 }}</span>
                    </div>

                    <div class="box2_content">
                        <span>비밀번호</span>
                        <span style="color:#4D3B36">{{ user_list_detail.1 }}</span>
                    </div>

                    <div class="box2_content">
                        <span>이름</span>
                        <span><input name="name" type="text" class="userModify" placeholder="이름" value="{{ user_list_detail.2 }}"></span>
                    </div>

                    <div class="box2_content">
                        <span>전화번호</span>
                        <span><input name="phone1" type="tel" class="userModify" placeholder="" value="{{ user_list_detail.8 }}" style="width: 70px;">
                        -
                        <input name="phone2" type="tel" class="userModify" placeholder="" value="{{ user_list_detail.9 }}" maxlength="4" style="width: 70px;">
                        -
                        <input name="phone3" type="tel" class="userModify" placeholder="" value="{{ user_list_detail.10 }}" maxlength="4" style="width: 70px;">
                        </span>
                    </div>

                    <div class="box2_content">
                        <span>이메일</span>
                        <span><input name="email" type="email" class="userModify" placeholder="이메일" value="{{ user_list_detail.4 }}"></span>
                    </div>

                    <div class="box2_content">
                        <span>우편번호</span>
                        <span> <input name="postcode" type="text" class="userModify" placeholder="우편번호" value="{{ user_list_detail.5 }}" style="width: 70px;"></span>
                    </div>

                     <div class="box2_content">
                        <span>주소</span>
                        <span> <input name="address1" type="text" class="userModify" placeholder="주소" value="{{ user_list_detail.6 }}"></span>
                    </div>

                     <div class="box2_content">
                        <span>상세주소</span>
                        <span> <input name="address2" type="text" class="userModify" placeholder="상세주소" value="{{ user_list_detail.7 }}"></span>
                    </div>

                    <div class="box2_content">
                        <span>추천 식물 코드</span>
                        <span> <input name="recommendId" type="text" class="userModify" placeholder="식물추천코드" value="{{ user_list_detail.11 }}"></span>
                    </div>

                </div>
            </section>

            <!--  -->
            <div class="top2">
                <input id="modifyButton" class="btn btn-primary" type="submit" value="수정">
                <a href="{% url 'user_list' %}" class="back">목록</a>
            </div>

        </form>

    </div>
{% endblock%}


<!-- 풋터 -->
{% block foot %}
    {% include "footer.html" %}
{% endblock%}
<!---->

</body>
</html>